.ds4 .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/Gakulon/steamgpvskin/main/sticks.png);
    height: 94px;
    width: 94px;
}

.ds4 .face {
    background: url(https://raw.githubusercontent.com/Gakulon/steamgpvskin/main/dpad.png);
    position: absolute;
}
